@import "../../utils";

.player {
  width: 100px;
  display: flex;
  flex-direction: column;

  margin: 1rem;

  transition: transform .5s ease;

  .name {
    display: flex;
    justify-content: center;
    background-color: #fff3;
    color: #fff;
    border-radius: 0 0 5px 5px;
  }

  .life {
    display: flex;
    justify-content: center;
    background-color: #c5c5c5ad;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }

  &.me {

    .life {
      border-left: 1px solid;
      border-right: 2px solid;

      border-color: saturate($primary-color, 25%);
    }

    .name {
      border-bottom: 2px solid;
      border-left: 1px solid;
      border-right: 2px solid;
      border-color: saturate($primary-color, 25%);
    }

    &.turn {
      .life {
        animation: border 2s ease-in-out infinite;
      }

      .name {
        animation: border 2s ease-in-out infinite;
      }
    }
  }

  &.ready {
    .name {
      background-color: $success-color;
      color: #fff;
    }
  }

  &.turn {
    .name {
      background-color: $danger-color;
      color: #fff;
    }
  }

  &.choosing {
    cursor: pointer;

    animation: highlight 1s infinite;

    &:hover {
      animation: none;
      transform: translateY(-10px);
    }
  }

  &.lost {
    .name {
      background-color: #c5c5c5ad;
      color: #fff;
    }
  }

}


@keyframes highlight {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes border {
  0% {
    border-color: saturate($primary-color, 25%);
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: saturate($primary-color, 25%);
  }
}
