@import "../utils";

$rolled-dice-color: $primary-color;

.settings {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  .button {
    margin: 0 1rem;
  }
}

.controls {
  button {
    margin: 0 1.2rem;
  }
}

.players-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.dice {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.statistics {
  display: flex;
}

.current-value {
  font-size: 5rem;
  color: white;

  &.warning {
    color: $warning-color;
  }

  &.danger {
    color: $danger-color;
  }
}

.rolled-dice {
  font-size: 2.5rem;
  color: $rolled-dice-color;
  display: flex;
  align-items: center;
}
