@import "../utils";

$input-background-color: #363a49;
$button-background-color: $primary-color;

.input {
  background-color: $input-background-color;
  outline: none;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    background-color: transparentize($input-background-color, 0.1);
  }

  @include respond-to(tablet) {
    &.username {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: 1px dashed #757575;
    }

    &.room {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
}


.button {
  padding: .75rem;
  box-sizing: border-box;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 1rem;
  color: white;
  background-color: $button-background-color;
  transition: background-color .17s ease, color .17s ease;

  &:hover {
    background-color: transparentize($button-background-color, 0.1); //#677bc4
  }

  &.light {
    color: #080808;
    background-color: lightgray;

    &:hover {
      background-color: transparentize(lightgray, 0.1);
    }
  }

  &.danger {
    color: #080808;
    background-color: lightgray;

    &:hover {
      background-color: transparentize(lightgray, 0.1);
    }
  }

  &.join {
    width: 100%;

    @include respond-to(tablet) {
      width: initial;
      margin-left: 1rem;
    }
  }
}

.form {
  padding: 1rem;

  .input {
    margin-bottom: 1rem;
  }

  @include respond-to(tablet) {
    display: flex;
    .input {
      margin-bottom: 0;
    }
  }
}
