.button {
  &.lose-life {
    background-color: transparent;
    padding: 0;
    margin-left: .75rem;

    &:hover{
      background-color: transparent;
    }

    &:focus{
      background-color: transparent;
    }

    &[disabled] {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .icon {
    display: block;
    height: auto;
    width: 2rem;
  }
}

#heart {
  fill: none;
  stroke: #D75A4A;

  &[disabled] {
    stroke: gray;

    #minus {
      fill: gray;
    }

    &:hover {
      fill: none;

      #minus {
        fill: gray;
      }
    }
  }

  #minus {
    fill: #D75A4A;
    stroke: none;
  }

  &:hover {
    fill: #D75A4A;

    #minus {
      fill: white;
    }
  }
}
